#price{
    background: var(--background);
}
.price-container{
    width: 90%;
    margin: auto;
    padding: 50px 0px;
}

.music-list-title{
    text-align: center;
    font-family: 'Sen';
    font-size: 30px;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(85, 85, 85);
    padding: 15px;
    width: 300px;
    border-radius: 50px;
    margin: auto;
}
.music-list-subtitle{
    text-align: center;
    margin: auto;
    font-family: 'Sen';
    font-size: 16px;
    width: 60px;
    padding: 5px 10px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    background: rgb(85, 85, 85);
    margin-top: -15px;
    margin-bottom: 50px;
}

.price-plans-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    border-top: 1px solid rgb(31, 31, 31);
    padding: 50px 0px;
    overflow: hidden;
}
.price-plan-card{
    max-width: 20%;
    margin: 10px;
    padding: 30px;
    background: var(--background-cards);
    color: var(--color-text);
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.price-plan-card:hover{
    transform: scale(1.03);
}

.Exclusive-card{
    background: #333333;
    padding: 50px 30px;
    border: 1px solid rgb(250, 234, 147);
}

.price-card-title h1{
    color: rgb(112, 112, 112);
    font-size: 20px;
    font-family: 'Quicksand';
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.price-card-title h1 strong{
    font-size: 34px;
    color: white;
}
.price-card-title span{
    color: rgb(107, 107, 107);
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Quicksand';
}
.price-card-description{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}
.price-card-description-option{
    color: var(--color-text);
    display: flex;
    width: 400px;
    max-width: 400px;
    margin: 10px 0px;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.price-card-description-option img{
    margin-right: 10px;
}
.price-card-price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    margin: 20px auto;
}
.price-card-saleprice{
    text-decoration: line-through;
    color: var(--color-text);
    margin-top: 10px;
    font-size: 22px;
}
.price-card-finalprice-price{
    font-size: 70px;
    font-family: 'PT Sans';
    color: white;
    font-weight: 900;
}
.buy-button{
    background: rgb(238, 222, 130);
    padding: 10px 50px;
    border-radius: 50px;
    border: none;
    font-family: 'PT Sans';
    text-decoration: none;
    font-weight: 900;
    color: rgb(22, 22, 22);
    font-size: 20px;
    cursor: pointer;
    outline: none;
}
.buy-button:hover{
    padding: 10px 70px;
}


.negotiate-option-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: rgb(88, 88, 88);
}
.horizontal-line{
    border-bottom: 1px solid rgb(26, 26, 26);
    width: 90px;
    height: 9px;
    max-height: 9px;
}
.negotiation-button{
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: 900;
    margin: 40px auto 0px;
    background: rgb(255, 255, 255);
    padding: 10px 60px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
}
.negotiation-button:hover{
    padding: 10px 80px;
}

@media screen and (max-width: 1600px){
    .price-plan-card{
        max-width: 30%;
    }
}